<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Tickets</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <h2>Buy Tickets</h2>
        <p>Experience the future of art at MonoMuse! Purchase your tickets now to explore our innovative exhibitions and interactive installations. Whether you're a digital art enthusiast or just looking for a unique cultural experience, MonoMuse offers something for everyone. Don't miss out on the chance to immerse yourself in the cutting-edge world of art and technology. Click the button below to buy your tickets today!</p>
        <button onclick="window.location.href='checkout.html'">Buy Tickets</button>
        
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>$Prices$</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>General admission for ages 18 and over. Under 18 free of charge</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Student ID required</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Member ID required</td>
                <td>$15</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>