<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<!-- Leaflet JS (before your script.js) -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header"> 
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <!-- Hamburger icon -->
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">☰</a>
        </nav>

        <main class="main">
            <h2>Mission Statement</h2>
            <p>Monomuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity and creativity by showcasing innovative exhibitions that highligh how digital tools, emerging technologies, and human imagination shape the future of artistic expression.</p>
        
            <h3>Milestones</h3>
            <ul>
                <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
                <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
                <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
            </ul>
        </main>
        

        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/MHo928fd2wE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>


        <footer class="footer">
            <p>&copy; 2026 MonoMuse. All rights reserved.</p>
            <p id="copyYear"></p>
        </footer>

    </div>
</body>
</html>